/*******************************************************
	
	CSS - Responsivo - V1

--------------------------------------------------------

	Todos os direitos reservados.
	Desenvolvido por APE Group. 
																					
*******************************************************/


/*******************************************************
    Media Devices
*******************************************************/

    @media only screen and (max-width: 1500px){

        /*******************************************************
            Main
        *******************************************************/

        .MainContent section {
            padding-left: 100px;
            padding-right: 100px;		
        }

        /*******************************************************
            Footer
        *******************************************************/

        #FooterContent {
            padding: 40px 100px;
        }

    }

    @media only screen and (max-width: 1100px){

        /*******************************************************
            Header
        *******************************************************/

        .HeaderContent {
            grid-template-columns: auto 1fr auto;
        }

        #Header3, #Header4 {
            display: none;
        }

        /*******************************************************
            Main
        *******************************************************/

        .MainContent section {
            padding-left: 40px;
            padding-right: 40px;		
        }

            /*******************************************************
                Index.php
            *******************************************************/

            .SectionWelcome {
                padding-top: 100px;
                padding-bottom: 100px;
            }

            .SectionWelcome ul {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }

            .CompaniesQuickAccessBar {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
            }

                #SectionIndexDiscover .CompanyBox:nth-child(1),
                #SectionAboutCompaniesYourCompanies .CompanyBox:nth-child(1){
                    border-radius: 40px 40px 0 0;
                }

                #SectionIndexDiscover .CompanyBox:nth-child(2),
                #SectionAboutCompaniesYourCompanies .CompanyBox:nth-child(2){
                    border-radius: 0 0 40px 40px;
                }

            #DiscoverContent #DiscoverBlocksGroup nav ul {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                Dashboard.php
            *******************************************************/

            #SectionDashboardItems nav ul {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                User.php
            *******************************************************/

            #UF2 .FrameMain .BoxView {
                grid-template-columns: repeat(2, 1fr);
            }

            #UF3 .FrameMain .ItensView {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                Feed.php
            *******************************************************/

            .FeedBoxGroup {
                grid-template-columns: repeat(2, 1fr);
            }

            .FeedBoxGroup .NoFor {
                grid-column: 1/2;

                text-align: left;
            }

            #FCF2 #FeedConfigItensView {
                grid-template-columns: repeat(2, 1fr);
            }
            
            /*******************************************************
                ConfigFeed.php
            *******************************************************/

            #FCF1 ul .GroupContent .GroupUL li {
                display: flex;
                align-items: center;
            }

            /*******************************************************
                Item.php
            *******************************************************/

            #SectionItemMain .BoxGroup {
                grid-template-columns: 1fr;
                grid-template-rows: 77px auto auto auto;
            }

                #SectionItemMain .BoxGroup .Box:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(2){
                    grid-column: 1/2;
                    grid-row: 4/5;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(3){
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(4){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

            /*******************************************************
                OrderDetails.php
            *******************************************************/

            #SectionOrderDetailsMain .BoxGroup {
                grid-template-columns: 1fr;
                grid-template-rows: 77px auto auto auto auto;
            }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(2){
                    grid-column: 1/2;
                    grid-row: 4/5;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(3){
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(4){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(5){
                    grid-column: 1/2;
                    grid-row: 5/6;
                }

            /*******************************************************
                AboutAPE.php
            *******************************************************/    

            #SectionAboutAPEDevelopers .DeveloperBox {
                grid-template-columns: 1fr;
                grid-template-rows: 150px auto;
            }

            #SectionAboutAPEDevelopers .DeveloperBox .DeveloperPhoto {
                display: flex;
                justify-content: center;
            }

            #SectionAboutAPEDevelopers .DeveloperBox .TextContent h3 {
                text-align: center;
            }

            /*******************************************************
                AboutCompanies.php
            *******************************************************/

            #SectionAboutCompaniesDiscover ul {
                grid-template-columns: 1fr;
                grid-template-rows: 150px auto;
            }

                #SectionAboutCompaniesDiscover ul .IconAboutCompanies {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionAboutCompaniesDiscover ul .TextAboutCompanies {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

            #SectionAboutCompaniesDiscover ul li p {
				text-align: center;
			}

        /*******************************************************
            Footer
        *******************************************************/

        #FooterContent {
            padding: 40px;
        }	

        /*******************************************************
            Outros
        *******************************************************/

        .SubFramesetContent {
            gap: 40px;
        }

    }