/*******************************************************
	
	CSS - Responsivo - V1

--------------------------------------------------------

	Todos os direitos reservados.
	Desenvolvido por APE Group. 
																					
*******************************************************/


/*******************************************************
    Media Devices
*******************************************************/

    /*******************************************************
        1500
    *******************************************************/

    @media only screen and (max-width: 1500px){

        /*******************************************************
            Main
        *******************************************************/

        .MainContent section {
            padding-left: 100px;
            padding-right: 100px;		
        }

        /*******************************************************
            Footer
        *******************************************************/

        #FooterContent {
            padding: 40px 100px;
        }

    }

    /*******************************************************
        1100
    *******************************************************/

    @media only screen and (max-width: 1100px){

        /*******************************************************
            Header
        *******************************************************/

        .HeaderContent {
            grid-template-columns: 88px 1fr 88px;
        }

        #Header3, #Header4 {
            display: none;
        }

        /*******************************************************
            Main
        *******************************************************/

        .MainContent section {
            padding-left: 40px;
            padding-right: 40px;		
        }

            /*******************************************************
                index.php
            *******************************************************/

            .SectionWelcome {
                padding-top: 100px;
                padding-bottom: 100px;
            }

            .SectionWelcome ul {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }

            .CompaniesQuickAccessBar {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
            }

                #SectionIndexDiscover .CompanyBox:nth-child(1),
                #SectionAboutCompaniesYourCompanies .CompanyBox:nth-child(1){
                    border-radius: 40px 40px 0 0;
                }

                #SectionIndexDiscover .CompanyBox:nth-child(2),
                #SectionAboutCompaniesYourCompanies .CompanyBox:nth-child(2){
                    border-radius: 0 0 40px 40px;
                }

                #SectionIndexDiscover .CompanyBox:nth-last-of-type(2),
                #SectionAboutCompaniesYourCompanies .CompanyBox:nth-last-of-type(2){
                    border-bottom-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                }

            #DiscoverContent #DiscoverBlocksGroup nav ul {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                Dashboard.php
            *******************************************************/

            #SectionDashboardItems nav ul {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                User.php
            *******************************************************/

            #UF2 .FrameMain .BoxView,
            #UF3 .FrameMain .ItensView {
                grid-template-columns: repeat(2, 1fr);
            }

            /*******************************************************
                Feed.php
            *******************************************************/

            .FeedBoxGroup {
                grid-template-columns: repeat(2, 1fr);
            }

            .FeedBoxGroup .NoFor {
                grid-column: 1/2;

                text-align: left;
            }

            #FCF2 #FeedConfigItensView {
                grid-template-columns: repeat(2, 1fr);
            }
            
            /*******************************************************
                ConfigFeed.php
            *******************************************************/

            #FCF1 ul .GroupContent .GroupUL li {
                display: flex;
                align-items: center;
            }

            /*******************************************************
                Item.php
            *******************************************************/

            #SectionItemMain .BoxGroup {
                grid-template-columns: 1fr;
                grid-template-rows: 77px auto auto auto;
            }

                #SectionItemMain .BoxGroup .Box:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(2){
                    grid-column: 1/2;
                    grid-row: 4/5;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(3){
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                #SectionItemMain .BoxGroup .Box:nth-child(4){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

            /*******************************************************
                OrderDetails.php
            *******************************************************/

            #SectionOrderDetailsMain .BoxGroup {
                grid-template-columns: 1fr;
                grid-template-rows: 77px auto auto auto auto;
            }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(2){
                    grid-column: 1/2;
                    grid-row: 4/5;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(3){
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(4){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                #SectionOrderDetailsMain .BoxGroup .Box:nth-child(5){
                    grid-column: 1/2;
                    grid-row: 5/6;
                }

            /*******************************************************
                AboutAPE.php
            *******************************************************/    

            #SectionAboutAPEDevelopers .DeveloperBox {
                grid-template-columns: 1fr;
                grid-template-rows: 150px auto;
            }

            #SectionAboutAPEDevelopers .DeveloperBox .DeveloperPhoto, 
            #SectionAboutAPEDevelopers .DeveloperBox .DeveloperSocialBar {
                display: flex;
                justify-content: center;
            }

            #SectionAboutAPEDevelopers .DeveloperBox .TextContent h3,
            #SectionAboutAPEDevelopers .DeveloperBox .TextContent p {
                text-align: center;
            }

            /*******************************************************
                AboutCompanies.php
            *******************************************************/

            #SectionAboutCompaniesDiscover ul {
                grid-template-columns: 1fr;
                grid-template-rows: 70px auto;
                gap: 30px;

                padding: 30px 20px;
            }

                #SectionAboutCompaniesDiscover ul .IconAboutCompanies {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                #SectionAboutCompaniesDiscover ul .TextAboutCompanies {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

            #SectionAboutCompaniesDiscover ul li span {
                width: 70px;
                height: 70px;
                padding: 0;
            }

            #SectionAboutCompaniesDiscover ul li span i {
                font-size: 70px;
            }

            #SectionAboutCompaniesDiscover ul li p {
                font-size: 24px;
                text-align: center;
			}

        /*******************************************************
            Footer
        *******************************************************/

        #FooterContent {
            padding: 40px;
        }	

        /*******************************************************
            Outros
        *******************************************************/

        .SubFramesetContent {
            gap: 40px;
        }

    }

    /*******************************************************
        800
    *******************************************************/

    @media only screen and (max-width: 768px){

        
        /*******************************************************
            Main
        *******************************************************/

        #MainIndex .MainContent {
            padding: 0 0 60px;
        }

        .MainContent section {
            padding-left: 20px;
            padding-right: 20px;		
        }

            /*******************************************************
                index.php
            *******************************************************/

            .SectionWelcome {
                padding-top: 60px;
                padding-bottom: 60px;
            }

            .SectionWelcome ul li h1 {
                font-size: 50px;
            }

            #DiscoverContent {
                padding: 20px;
            }

            #DiscoverContent h1 {
                margin-bottom: 40px;

                font-size: 30px;
            }

            #DiscoverContent #DiscoverBlocksGroup nav ul {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            #DiscoverContent #DiscoverBlocksGroup nav ul a {
                padding: 30px;
            }

            #DiscoverContent #DiscoverBlocksGroup nav ul a i {
                font-size: 40px;
            }

            #DiscoverContent #DiscoverBlocksGroup nav ul span {
                display: none;
            }

            /*******************************************************
                Dashboard.php
            *******************************************************/

            #SectionDashboardItems nav ul {
                grid-template-columns: 1fr;
            }

            /*******************************************************
                User.php
            *******************************************************/

            #SectionUserHeader {
                margin-bottom: 60px;
            }

            #UF2 .FrameMain .BoxView,
            #UF3 .FrameMain .ItensView {
                grid-template-columns: 1fr;
            }

            /*******************************************************
                Feed.php
            *******************************************************/

            .FeedBoxGroup {
                grid-template-columns: 1fr;
            }

            .FeedBoxGroup .CategoryHeaderBox {
                grid-column: 1/2;
            }

            /*******************************************************
                ConfigFeed.php
            *******************************************************/

            .GroupHeader {
                display: none;
            }

            .GroupMain .GroupContent {
                padding: 20px;
                margin-bottom: 20px;
                border: none;
                border-radius: 20px;

                background-color: var(--color-layout-s);
            }

            .GroupMain .GroupContent .GroupUL {
                height: auto;
            }

            .GroupMain .GroupContent .GroupUL h1 {
                margin: 0;
            }

            /* FCF1 */

            #FCF1 ul .GroupContent .GroupUL {
                grid-template-columns: 1fr 100px;
                gap: 10px
            }

            #FCF1 ul .GroupContent .GroupUL .FeedConfigOptionContent {
                grid-column: 1/3;

                width: 100%;
            }

            #FCF1 ul .GroupContent .GroupUL .FeedConfigUserNameContent h1 {
                color: var(--color-txt-p);
            }

                #FCF1 ul .GroupContent .GroupUL .FeedConfigUserCodeContent,
                #FCF1 ul .GroupContent .GroupUL .FeedConfigUserLevelContent {
                    display: none;
                }

            /* Frames */

            #FCF2 #FeedConfigItensView, #FCF3 ul .GroupContent .GroupUL,
            #FCF4 ul .GroupContent .GroupUL,  #FCF5 .CalendarDayContent .CalendarEvent .CalendarEventContent {
                grid-template-columns: 1fr;
            }

            /*******************************************************
                Item.php
            *******************************************************/

            #MainItem .MainContent {
                padding: 40px 0;
            }

            /*******************************************************
                OrderDetails.php
            *******************************************************/

            #MainOrderDetails .MainContent {
                padding: 40px 0;
            }

            #SectionOrderDetailsMain ul #OrderBox5 {
                grid-template-columns: 1fr;
            }

            #SectionOrderDetailsMain ul #OrderBox5 li:nth-child(1){
                border-radius: 46px 46px 0 0;
            }

            #SectionOrderDetailsMain ul #OrderBox5 li:nth-child(2){
                border-radius: 0 0 46px 46px;
            }

            #SectionOrderDetailsMain ul #OrderBox5 li a {
                padding: 20px 40px;
            }

        /*******************************************************
            Footer
        *******************************************************/

        #FooterContent {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);

            padding: 40px 20px;
        }

        #FooterContent ul {
            grid-column: 1/2;	
        }

        .FooterSocial h1 {
            width: 100%;
            margin: 0;
            margin-bottom: 16px;
        }

        /*******************************************************
            Outros
        *******************************************************/

        /* Form Platform */

        .FormPlatform .FormControl {
            display: none;
        }

        .FormPlatform .FormData {
            padding: 40px 20px;
        }

        .FormPlatform .FormData .FormPlatformContent .ContentHeader {
            margin-bottom: 40px;
        }

        /* Frames */

        .SubFramesetContent {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            gap: 20px;
        }

        .NavBarControl {
            margin-bottom: 20px;
        }

        .SubNavBarControl ul li {
            width: auto;
            border: none;
            border-radius: 18px;
            outline: none;
        }

        .SubNavBarControl ul li:focus {
            outline: none;
        }

            .CompanyLayout .SubNavBarControl ul .active {
                color: var(--color-txt-p-dm);
                background-color: var(--color-theme-company-p);
            }

        /* Company Header */

        #CompanyHeader a {
            padding: 20px;
        }

        #CompanyHeader a h1 {
            font-size: 30px;
        }

        /* Main Overlay */

        .MainOverlay .DiscoverOverlayUL {
            grid-template-rows: auto auto;

            padding: 30px;
        }

        .MainOverlay .DiscoverOverlayUL li i {
            font-size: 50px;
        }

        .MainOverlay .DiscoverOverlayUL li h1 {
            margin: 0;
        }

        .MainOverlay .DiscoverOverlayUL li p {
            font-size: 16px;
        }

        /* Category */

        .Category .CategoryOptions {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        .Category .CategoryOptions .btnContent {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 20px;
        }

    }